site
*.py[co]
*.egg
*.egg-info
sprites/images
dist
build
eggs
parts
bin
var
sdist
_cache
_site
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo
.mr.developer.cfg
cabal-dev
*.o
*.hi
*.chi
*.chs.h