<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="ru" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ru" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ru" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ru" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="ru" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>H.359</title>
    <meta name="description" content="description" />
    <meta name="author" content="H.359 team" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta property="og:title" content="H.359" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:site_name" content="H.359" />
    <link href="https://plus.google.com/105173827327640293455" rel="publisher" />
    <!--
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png" />
    -->
    <link rel="stylesheet" href="/css/style.css" />
    <!--<link rel="stylesheet" href="/css/layout.css" />-->
    <link rel="stylesheet" href="/css/sprites.css" />
    <script src="/js/modernizr.min.js"></script>
</head>

<body>
    <header class="clearfix">
        <hgroup>
            <h1 class="logo"><span>(</span><a href="/">H.359</a><span>)</span></h1>
        </hgroup>
        <!--
        <nav>
            <ul>
                <li><a href="/clients.html">Клиенты</a></li>
                <li><a href="{% url technologies %}">Технологии</a></li>
                <li><a href="{% url vacancies %}">Вакансии</a></li>
            </ul>
        </nav>
        -->
    </header>
    <section class="content clearfix">$body$</section>
    <footer class="clearfix">
        <aside class="righty">
            <div class="githubby">
                <a href="https://github.com/H359" class="github"></a>
            </div>
            <div class="gplus">
                <a rel="publisher" title="Наша страница на Google+" href="https://plus.google.com/105173827327640293455?prsrc=3">
                    <img src="https://ssl.gstatic.com/images/icons/gplus-32.png" width="32" height="32" />
                </a>
            </div>
        </aside>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/jquery.1.6.4.min.js"%3E%3C/script%3E'))</script>
    <script src="/js/core.js"></script>
    <!--[if lt IE 7 ]>
    <script src="/js/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg');</script>
    <![endif]-->
</body>
</html>
